:root {
    --cor-principal: #008e97;
    --cor-secundaria: #011820;
    --cor-texto: #fff;
    --cor-fundo: #ffea00;
}

body {
    text-align: center;
    font-family: 'Franklin Gothic Medium', bold, sans-serif;
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
}

#contador {
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    background-color: var(--cor-principal);
    border-radius: 10px;
    display: inline-block;
}

/* Ajuste do reprodutor de áudio */
audio {
    display: block;
    margin: 20px auto;
    text-align: center;
}

/* Galeria com fotos e legendas */
#galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1px; /* Redução de aproximadamente 60% no espaçamento */
    text-align: center;
}

#galeria figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18%; /* Mantém 4 imagens por linha */
}

#galeria img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Ajuste das legendas */
figcaption {
    font-size: 14px;
    font-family: Impact, sans-serif;
    color: white;
    margin-top: 5px;
}

